body {
  background-image: url('./assets/pixel-purple.png');
  background-size: auto;
}

.landingPage {
  background-color: red;
}

a {
  color: rgb(226, 239, 243);
}

a:hover {
  color: rgb(226, 239, 243);
}